.articles{
    background-color:#121212;
    padding-top: 100px;
    padding-bottom: 100px;
}
h2, h3{
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 20px;
}

h3{
    color: #f47e05;
}
p{
    color: #ffffffa8;
    padding-bottom: 25px;
}

.read-more{
    color: #ffffff;
}
.read-more:hover{
    color: #f47e05;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
    padding-bottom: 5px;
}
li>a{
    color: #f47e05;
}
li>a:hover{
    color: #ffffff;
}