#footer-section {
    padding-bottom: 0;
}
#footer-section  h2{
    font-size: 20px;
    color: #ffffff;
}
#footer-section  p{
    font-size: 16px;
}
#footer-section  li{
    font-size: 14px;
}
#footer-section .nav-link {
    color: #ffffff !important;
}
.newsletter {
    background-color: #121212;
    text-transform: capitalize;
    border-radius: 6px;
    padding:  30px;
}
.email-input:focus,
.email-input:active {
    box-shadow: none;
}

.email-input {
    border: 1px solid #ffffff;
    background-color: #12121200;
}
.newsletter .small-text {
    font-weight: 600;
    color: #f47e05;
    text-transform: none;
}
.newsletter-tag {
    color: #f47e05;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.newsletter-icon i {
    font-size: 30px;
    padding: 10px 15px;
    background-color: #f47e05;
    color: white;
    border-radius: 100px;
}
.footer-icon i {
    font-size: 15px;
    padding: 10px;
    color: #f47e05;
    margin-left: 5px;
    border-radius: 100%;
}
.br-1 {
    border-right: 0.1px solid #d4dcffd5;
}

.bl-1 {
    border-left: 0.1px solid #d4dcffd5;
}
.footer-end {
    background-color: #121212;
    padding: 20px 30px;
    padding-left: 0;
    /* padding-right: 0; */
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
}
.footer-end p {
    margin: 0;
    padding: 0;
}